.form {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  height: 40px;
  overflow: hidden;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0 10px #ccc;
  margin: 0 auto;

  &__input {
    width: 100%;
    border: none;
    padding: 0 15px;
    outline: none;
    font-size: 18px;
  }
}
