.wrapper {
  margin: 30px;

  &__columns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    max-width: 1200px;
    margin: 40px auto 0 auto;
  }
}

.card {
  padding: 15px;
  background-color: #f1f1f1;
  box-shadow: 0 0 15px #ccc;
  border-radius: 10px;

  &__name {
    text-align: center;
    margin-bottom: 25px;
    font-size: 17px;
    letter-spacing: 1px;
  }
}


