<div class="wrapper">
  <app-searchbar (search)="setFilter($event)"></app-searchbar>

  <div class="wrapper__columns">
    <div class="wrapper__column" *ngFor="let product of completeProducts">
      <div class="card">
        <h2 class="card__name">{{product.product.name}}</h2>
        <div class="card__rows">
          <app-row title="Id" [content]="product.product.id"></app-row>
          <app-row title="Customers" [content]="product.product.customers"></app-row>
        </div>
      </div>

      <app-customer [customer]="customer" *ngFor="let customer of product.customers"></app-customer>
    </div>
  </div>
</div>
