.customer {
  padding: 10px;
  background-color: #fff3ec;
  margin-top: 20px;
  box-shadow: 0 0 10px #ccc;
  border-radius: 10px;

  &__top {
    display: flex;
  }

  &__img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }

  &__name {
    font-size: 17px;
    margin-bottom: 8px;
  }

  &__title,
  &__quote {
    font-size: 14px;
  }

  &__company {
    font-size: 12px;
    margin-top: 3px;
  }

  &__quote {
    border-top: 1px solid #ccc;
    padding-top: 5px;
    margin-top: 5px;
    font-style: italic;
    font-weight: bold;

  }
}


span {
  background-color: red;
  display: inline;
}
