<div class="customer">
  <div class="customer__top">
    <img src="{{customer.avatar}}" alt="{{'Avatar of ' + customer.name}}" class="customer__img">
    <div class="customer__head">
      <h3 class="customer__name" [innerHTML]="customer.name"></h3>
      <p class="customer__job">{{customer.job.title}}</p>
      <p class="customer__company">{{customer.job.company}}</p>
    </div>
  </div>
  <div class="customer__quote" [innerHTML]="customer.quote">
  </div>
</div>

